<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8n">
    <meta name="author" content="Haruki Kawashita">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/iota.css" />

    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/template.css">
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/templates/graygrid/style.css">
</head>

<body class="home">
    <a href="https://haruharuharukichi.github.io/so-thin/templates/" class="link_home"></a>
    
    <a href="https://haruharuharukichi.github.io/so-thin/templates/smartline/" class="link_prev"></a>
    
    
    <a href="https://haruharuharukichi.github.io/so-thin/templates/hakotate/" class="link_next"></a>
    
    <p><header class="flex header_wrapper" id="header">
    <div class="flex header_bgr">
        <img class="header_img" src="./lib/images/topFull_bgr.jpeg">
    </div>
    <div class="container header_content">
        <div class="grid grid-1">
            <div class="grid grid-3 header_brand">
                <p class="inviewContent font-xl inline-left header_descripiton">salon<br><span class="mainColor">O</span>F<br>hair</p>
                <div class="flex">
                    <h1 class="inviewContent inline-center font-bold header_title">HAIR<br>a.o</h1>
                </div>
                <p class="inviewContent font-sm inline-right header_descripiton">pleasure<br><span class="mainColor">FOR</span><br>you</p>
            </div>
            <div class="flex inline-center">
                <div class="header_scroller scrollBody"><span class="header_scroller body"></span><span class="header_scroller text">scroll</span></div>
            </div>
        </div>
    </div>
</header>
<nav class="grid container navbar_wrapper global" id="globalNavi" role="navigation">
    <a class="flex navbar_brand" href="./" rel="home" itemprop="url"><img src="./lib/images/LOGO.png" class="navbar_logo" alt="logo"></a>        <button class="navbar-toggler" id="navbarToggler" type="button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <ul class="navbar_list font-sm"><li id="menu-item-67" class="page_item"><a class="navbar_link"href="./info.html">About</a></li>
        <li id="menu-item-120" class="page_item"><a class="navbar_link"href="./staff.html">staff</a></li>
        <li id="menu-item-115" class="page_item"><a class="navbar_link"href="./price.html">menu</a></li>
        <li id="menu-item-71" class="page_item"><a class="navbar_link"href="./new.html">News</a></li>
        <li id="menu-item-116" class="page_item"><a class="navbar_link"href="./y.html">reserve</a></li>
    </ul>
</nav>
<main role="main" id="main" class="container">
    <section id="newsIndex" class="main_wrapper">
        <h2 class="inline-center main_title">news of a.<span class="mainColor">o</span></h2>
        <div class="main_content">
            <a href="./uncategorized/hello-world.html" class="main_post">
                <h3 class="post_title">Hello world!</h3>
                <p class="post_date">2012/10/2</p>
            </a>
            <a href="./parent-category-i/another-post-with-everything-in-it.html" class="main_post">
                <h3 class="post_title">Another Post with Everything In It</h3>
                <p class="post_date">2008/09/17</p>
            </a>
            <a href="./uncategorized/an-ordered-list-post.html" class="main_post">
                <h3 class="post_title">An Ordered List Post</h3>
                <p class="post_date">2008/09/17</p>
            </a>
        </div>
        <div class="flex">
            <a class="flex font-lg main_btn" href="./new.html"><span class="accentColor">VIEW</span> ALL</a>
        </div>
    </section>
    <section id="aboutIndex" class="grid grid-2 main_wrapper">
        <div class="inviewContent fadeInLeft main_img"></div>
        <div class="grid grid-1 inviewContent fadeInRight main_content">
            <h2 class="inline-right main_title"><span class="mainColor">talk with</span><br>each of you</h2>
            <p class="flex inline-right">私たちは、お客様一人一人と向き合う美容室であることを誇りとしています。<br>それぞれのストーリーをもってご来店下さる皆様に、喜んでいただける楽園をつくります。</p>
            <div class="flex left bottom ">
                <a class="flex font-lg main_btn" href="./info.html">M<span class="accentColor">O</span>RE</a>
            </div>
        </div>
    </section>
    <section id="featureIndex" class="grid grid-2 main_wrapper">
        <div class="grid grid-1 inviewContent fadeInLeft main_content">
            <h2 class="main_title">FEATURE<br><span class="mainColor">O</span>F salon</h2>
            <p class="flex left">a.oは横浜にある完全予約制のヘアサロンです。<br>充分な時間をとり、上質でリラックスできる時間を提供します。</p>
        </div>
        <div class="inviewContent fadeInRight main_img"></div>
    </section>
    <section id="planIndex" class="main_wrapper">
        <div class="grid grid-3 main_content">
            <div class="grid grid-1 inviewContent fadeInUp main_card title">
                <h2 class="inline-right font-lg card_title">PLAN<br>OF <span class="mainColor">COURSE</span></h2>
                <p class="card_text">お客様にあわせたコースを取り揃えております<br>表示は全て税抜表示です</p>
            </div>
            <div class="inviewContent fadeInUp main_card description">
                <div class="grid grid-1 card_body">
                    <h3 class="card_title">cut</h3>
                    <p class="flex card_text">1シャンプー・ブロー付</p>
                    <p class="flex right bottom card_text">￥4,500</p>
                </div>
            </div>
            <div class="inviewContent fadeInUp main_card description">
                <div class="grid grid-1 card_body">
                    <h3 class="card_title">perm</h3>
                    <p class="flex card_text">1シャンプー・カット・トリートメント・ブロー付</p>
                    <p class="flex right bottom card_text">￥9,000~</p>
                </div>
            </div>
            <div class="inviewContent fadeInUp main_card description">
                <div class="grid grid-1 card_body">
                    <h3 class="card_title">curling</h3>
                    <p class="flex card_text">パーマ液を使わずカールを作る、ダメージのない方法です<br>1シャンプー・カット・トリートメント・ブロー付</p>
                    <p class="flex right bottom card_text">￥10,000~</p>
                </div>
            </div>
            <div class="inviewContent fadeInUp main_card description">
                <div class="grid grid-1 card_body">
                    <h3 class="card_title">color</h3>
                    <p class="flex card_text">1シャンプー・トリートメント付</p>
                    <p class="flex right bottom card_text">￥6,000~</p>
                </div>
            </div>
            <div class="grid grid-1 inviewContent fadeInUp main_card link">
                <div class="flex left bottom">
                    <a class="flex font-lg main_btn" href="./price.html">VIEW <span class="accentColor">ALL</span></a>
                </div>
            </div>
        </div>
    </section>
    <section id="detailIndex" class="grid grid-2 main_wrapper">
        <div class="grid grid-1 inviewContent fadeInLeft main_content">
            <h2 class="main_title"><span class="mainColor">detail</span></h2>
            <div class="grid grid-table row-2">
                <div class="table_row">
                    <span>Open</span>
                    <span> 10:00 ~ 18:00</span>
                </div>
                <div class="table_row">
                    <span>Close</span>
                    <span> 月・火曜日</span>
                </div>
                <div class="table_row">
                    <span>Adress</span>
                    <span>神奈川県横浜市港北区大豆戸町210</span>
                </div>
                <div class="table_row">
                    <span>E-mail</span>
                    <a href="mailto:info@ao.to">info@ao.to</a>
                </div>
                <div class="table_row">
                    <span>Tel</span>
                    <a href="tel:0454344911">045-434-4911</a>
                </div>
            </div>
            <div class="flex right bottom">
                <a class="flex font-lg main_btn" href="./y.html"><span class="accentColor">reserve</span></a>
            </div>
        </div>
        <div class=" inviewContent fadeInRight main_content">
            <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!4v1545726998025!6m8!1m7!1sCAoSLEFGMVFpcE5RcEN3OEM3Z0VWMmVyUWlsRXFMZWRUSWJybUtNdXpYLU9QZmRF!2m2!1d35.511707794243!2d139.63070262223!3f182.22280541804486!4f-7.6982834044578965!5f0.7820865974627469" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>
</main>
<footer role="contentinfo" class="container inline-center footer_wrapper">
    <div id="footerScroller" class="fadeInUp footer_scroller scrollTop">
        <span class="footer_scroller body"></span>
        <span class="footer_scroller text">TOP</span></div>
        <div class="widget footer_widget">
            <form role="search" method="get" class="search_form" action="./">
                <span class="search_field">
                    <input type="search" id="search-form-5c19e3228a405" placeholder="サイト内を検索" value="" name="s" />
                </span>
                <button type="submit" class="search_submit"><span class="screen_reader_text">SEARCH</span></button>
            </form>
        </div>
        <div class="widget_text widget footer_widget">
            <div class="textwidget custom-html-widget">
                <p class="flex">© 2018~ HAIR a.o</p>
                <div class="flex">
                    <a href="./link.html" class="footer_link">links</a>
                    <a href="./privacypolicy.html" class="footer_link">privacy policy</a>
                    <a href="./contact-us.html" class="footer_link">contact us</a>
                </div>
            </div>
        </div>
        <div class="widget_text widget footer_widget"><div class="textwidget custom-html-widget"><div id="detailFooter" class="grid grid-2">
            <div class="grid grid-1 inviewContent fadeInLeft">
                <div class="grid grid-table row-2">
                    <div class="table_row">
                        <span>Open</span>
                        <span> 10:00 ~ 18:00</span>
                    </div>
                    <div class="table_row">
                        <span>Close</span>
                        <span> 月・火曜日</span>
                    </div>
                    <div class="table_row">
                        <span>Adress</span>
                        <span>神奈川県横浜市港北区大豆戸町210</span>
                    </div>
                    <div class="table_row">
                        <span>E-mail</span>
                        <a href="mailto:info@ao.to">info@ao.to</a>
                    </div>
                    <div class="table_row">
                        <span>Tel</span>
                        <a href="tel:0454344911">045-434-4911</a>
                    </div>
                </div>
            </div>
            <div class=" inviewContent fadeInRight">
        <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.7011845360507!2d139.6285313147412!3d35.51166634686119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185ee8138cab77%3A0xd36e5f41489b9f1d!2z44OY44Ki44O844Ko44O844Kq44O8!5e0!3m2!1sja!2sjp!4v1545726818924" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </footer>
    <script type='text/javascript' src='./lib/js/jquery.inview.min.js'></script>
    <script type='text/javascript' src='./lib/js/main.js'></script></p>

</body>

</html>