<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8n">
	<meta name="Description" CONTENT="ここにページのディスクリプション">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Haruki Kawashita">
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
	
	<meta property="og:title" content="ここにタイトル">
	<meta property="og:type" content="ここにタイプ">
	<meta property="og:url" content="ここにページのURL">
	<meta property="og:image" content="ここにサムネイル画像のURL">
	<meta property="og:site_name" content="ここにサイト名">
	<meta property="og:description" content="ここにページのディスクリプション">
	
	<meta property="fb:app_id" content="App-ID（15文字の半角数字）">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Twitterアカウント">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>soThin</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	
	<script type="text/javascript" src="https://haruharuharukichi.github.io/so-thin/js/prettify.js"></script>
	<link href="https://haruharuharukichi.github.io/so-thin/css/prettify.css" type="text/css" rel="stylesheet">

	
	<link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/iota.css" />

	<link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/style.css">
</head>

<body onload="prettyPrint()">
	<nav role="navigation" id="globalNavi" class="grid inline-center navbar_wrapper sticky">
		<a href="https://haruharuharukichi.github.io/so-thin/" rel="home" class="flex navbar_brand">
			<span class="navbar_logo">
				LO<br>GO
			</span>
		</a>
		<button type="button" id="navbarToggler" class="navbar_toggler">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="navbar_list font-sm">
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/">home</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/naming">命名規則</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/flow">全体の流れ</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/function">function</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/plugin">plugin</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/material">素材</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/salary">給与</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/templates/">テンプレート</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/components/">コンポーネント</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/academy/">草進ハイスクール</a></li>
		</ul>
	</nav>
	<div class="grid body_wrapper">
<aside role="complementary" class="sidebar_wrapper">
    <ul>
        
        <li>
            <a href="/so-thin/components/">
                COMPONENTS TOP
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/grid/">
                Grid
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/header/">
                Header
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/navigation/">
                Navigation
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/card/">
                Card
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/button/">
                Button
            </a>
        </li>
        
    </ul>
</aside>
<aside role="complementary" class="sidebar_wrapper">
    <div id="toc"></div>
</aside>
<main role="main">
    <p><h1 class="main_title">Header</h1>
<div class="main_code">
    <h2>PHPベーシックコード</h2>
    <div class="grid code_content">
        <input type="checkbox" name="accordion" id="headerPhp">
        <label for="headerPhp" style="grid-column: 2;">+</label>
        <div class="code_item">
            <p>問い合わせフォーム</p></p>

<pre><code class="language-html">&lt;div class=&quot;form_wrapper&quot;&gt;
  &lt;div class=&quot;form_content&quot;&gt;
    &lt;label class=&quot;flex&quot;&gt; お名前 (必須)
    &lt;/label&gt;
    [text* your-name placeholder&quot;例）山田　太郎&quot;]
  &lt;/div&gt;
  &lt;div class=&quot;form_content&quot;&gt;
    &lt;label class=&quot;flex&quot;&gt;メールアドレス (必須)&lt;/label&gt;
    [email* your-email placeholder&quot;sample@ao.to&quot;]
  &lt;/div&gt;
  &lt;div class=&quot;form_content&quot;&gt;
    &lt;label class=&quot;flex&quot;&gt;題名&lt;/label&gt;
    [text your-subject placeholder&quot;バナーについて&quot;]
  &lt;/div&gt;
  &lt;div id=&quot;message&quot; class=&quot;form_content&quot;&gt;
    &lt;label class=&quot;flex&quot;&gt;メッセージ本文&lt;/label&gt;
    [textarea* your-message placeholder&quot;掲載依頼です&quot;]
  &lt;/div&gt;
  &lt;div class=&quot;form_btn&quot;&gt;
    [submit &quot;送信&quot;]
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p></div>
</div>
</div></p>

<p><h2 class="main_title">オーソドックスタイプ</h2>
<div class="main_code">
    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="css,result" data-user="haruharuharukichi" data-slug-hash="oVdgeB" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="oVdgeB">
    <span>See the Pen <a href="https://codepen.io/haruharuharukichi/pen/oVdgeB/">
    oVdgeB</a> by haruharuharukichi (<a href="https://codepen.io/haruharuharukichi">@haruharuharukichi</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div></p>

</main>
<footer role="contentinfo" class="inline-center footer_wrapper">@2019~ haruki kawashita</footer>
</div>
<script type='text/javascript' src='https://haruharuharukichi.github.io/so-thin/js/toc.min.js'></script>
<script type='text/javascript' src='https://haruharuharukichi.github.io/so-thin/js/main.js'></script>
</body>

</html>