<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8n">
    <meta name="author" content="Haruki Kawashita">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- iota -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/iota.css" />

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/template.css">
    <link rel="stylesheet" href="{{ .Permalink }}style.css">
</head>

<body class="home">
    <a href="{{ .Site.BaseURL }}templates/" class="link_home"></a>
    {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="link_prev"></a>
    {{ end }}
    {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="link_next"></a>
    {{ end }}
    {{ .Content }}
</body>

</html>