<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8n">
    <meta name="author" content="Haruki Kawashita">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/iota.css" />

    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/template.css">
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/templates/smartline/style.css">
</head>

<body class="home">
    <a href="https://haruharuharukichi.github.io/so-thin/templates/" class="link_home"></a>
    
    
    <a href="https://haruharuharukichi.github.io/so-thin/templates/graygrid/" class="link_next"></a>
    
    <p><nav class="inline-center navbar_global" id="globalNavi" role="navigation">
    <div id="navbarToggler">
        <ul class="font-sm">
            <li class="font-md"><a href="./index.html" class="navbar_link">HOME</a></li>
            <li class="font-md"><a href="./about.html" class="navbar_link">ABOUT</a></li>
            <li class="font-md"><a href="./service.html" class="navbar_link">SERVICE</a></li>
            <li class="font-md"><a href="./news.html" class="navbar_link">NEWS</a></li>
            <li class="font-md"><a href="./page.html" class="navbar_link">CONTACT</a></li>
        </ul>
    </div>
</nav>
<section id="verticalLine">
    <div class="container grid">
        <div class="verticalLine_line"></div>
        <div class="verticalLine_line"></div>
        <div class="verticalLine_line"></div>
        <div class="verticalLine_line"></div>
    </div>
</section>
<header role="banner">
    <div class="grid grid-1 header_wrapper">
        <div class="header_img left"></div>
        <div class="header_img right"></div>
        <div class="flex header_content">
            <h1 class="header_title">LUNAIM</h1>
            <p class="font-sm header_text">MARRIAGE AGENCY</p>
        </div>
    </div>
</header>
<main role="main" class="container">
    <section id="aboutIndex" class="inverted full">
        <div class="grid grid-hr main_wrapper">
            <div class="inline-right main_header">
                <h2 class="font-xl main_title">about</h2>
                <p class="font-md">who we are<br>and<br>what we want</p>
            </div>
            <div class="main_content">
                <p class="font-xs main_text">出逢いの力は偉大です<br>
                    人と人が出逢う時、そこには大きな力が生まれます<br>
                    一人では乗り越えられない困難も、パートナーがいれば乗り越えられます<br>
                    <br>
                    相手を知ることで、自分自身も深めることが出来る<br>
                    出逢いには、不思議な力があります<br>
                    私たちは豊かな出逢いと、それにより実現される未来を追い求めます</p>
                <a href="#" class="flex font-sm main_btn inverted">
                    <span>our philosophy</span><span class="rod"></span></a>
            </div>
        </div>
    </section>
    <section id="featureIndex" class="grid grid-hr overlaidTop">
        <img src="./lib/images/feature_img.jpeg" class="main_img">
        <div class="main_wrapper">
            <div class="main_header">
                <h2 class="font-xl main_title">feature</h2>
                <p class="font-md">we think that<br>social contribution is important</p>
            </div>
            <div class="main_content">
                <p class="font-xs">会社の持つ最大の特徴は、持続可能性です<br /><br />
                    持続することで基盤を築き、それが未来への礎となります<br />
                    そして、持続可能性には会社を取り巻く環境、つまり社会に対する奉仕が欠かせません<br /><br />
                    ”社会貢献で未来を創る”<br />
                    これがLunaimのビジョンです<br />
                </p>
            </div>
        </div>
    </section>
    <section id="serviceIndex" class="main_wrapper">
        <div class="inline-right grid grid-1 main_header">
            <h2 class="font-xl">SERVICE</h2>
            <p class="font-md">our business to<br>achieve the vision</p>
        </div>
        <ul class="grid grid-3 inline-center main_content">
            <li>
                <h3 class="font-lg">FEDERATION</h3>
                <p class="font-xs">九州を拠点とした結婚相談所連盟”九結会”の運営<br><br>
                    相談所連盟を通して出逢いのチャンスを広げます</p>
            </li>
            <li>
                <h3 class="font-lg">AGENCY</h3>
                <p class="font-xs">結婚相談所&rdquo;Marriage Agency AUTHENTIC&rdquo;の運営<br><br>
                    質の高い出逢いを提供します</p>
            </li>
            <li>
                <h3 class="font-lg">WEDDING</h3>
                <p class="font-xs">ウエディング事業の運営<br><br>
                    出逢うだけでなく、出逢ってからのサポートも欠かしません</p>
            </li>
        </ul>
        <a href="" class="flex font-lg main_btn center inverted">
            <span>get more</span><span class="rod"></span>
        </a>
    </section>
    <section id="newsIndex" class="grid grid-hr main_wrapper">
        <div class="inline-right grid grid-1 main_header">
            <h2 class="font-xl main_title">news</h2>
            <p class="font-md">notice our<br>movement</p>
            <a href="#" class="flex font-md main_btn right">
                <span>view all</span><span class="rod"></span>
            </a>
        </div>
        <ul class="grid grid-1 main_content">
            <li class="main_post">
                <a href="#" class="post_link">
                    <h3 class="font-md post_title">お知らせその１</h3>
                    <p class="font-xs post_date">2018/9/30</p>
                </a>
            </li>
            <li class="main_post">
                <a href="#" class="post_link">
                    <h3 class="font-md post_title">お知らせその２</h3>
                    <p class="font-xs post_date">2018/9/30</p>
                </a>
            </li>
            <li class="main_post">
                <a href="#" class="post_link">
                    <h3 class="font-md post_title">お知らせその３</h3>
                    <p class="font-xs post_date">2018/9/30</p>
                </a>
            </li>
        </ul>
    </section>
    <section id="detailIndex" class="grid grid-hl overlaidBottom">
        <img src="./lib/images/detail_bgr.jpg" class="main_img">
        <div class="grid grid-1 main_wrapper">
            <div class="main_header">
                <h2 class="font-xl main_title">detail</h2>
                <p class="font-md">more information<br>about us</p>
            </div>
            <div class="main_content">
                <h3 class="font-md main_title">tokyo office</h3>
                <p class="font-xs">
                    〒104-0061<br />
                    東京都中央区銀座6丁目6番1号銀座風月堂ビル5F
                </p>
            </div>
            <div class="main_content">
                <h3 class="font-md main_title">kumamoto office</h3>
                <p class="font-xs">
                    〒860-0072<br />
                    熊本県熊本市西区花園7丁目52番8号
                </p>
            </div>
            <a href="" class="flex inline-right font-md main_btn right">
                <span>contact</span><span class="rod"></span>
            </a>
        </div>
    </section>
</main>
<footer role="footer">
    <div class="inline-center grid grid-1 footer_wrapper">
        <div class="footer_brand">
            <img src="./lib/images/logo_notxt.png" class="footer_logo">
            <p class="font-md footer_text">LUNAIM Inc.</p>
        </div>
        <ul class="flex">
            <li><a href="#" class="footer_link">PRIVACY POLICY</a></li>
            <li><a href="#" class="footer_link">SITEMAP</a></li>
        </ul>
        <p class="font-xs">Copyright © 2018~ Lunaim, Inc. All Rights Reserved.</p>
    </div>
</footer>
<script type='text/javascript' src='./lib/js/main.js'></script></p>

</body>

</html>