<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8n">
    <meta name="author" content="Haruki Kawashita">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/iota.css" />

    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/template.css">
    <link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/templates/hakotate/style.css">
</head>

<body class="home">
    <a href="https://haruharuharukichi.github.io/so-thin/templates/" class="link_home"></a>
    
    <a href="https://haruharuharukichi.github.io/so-thin/templates/graygrid/" class="link_prev"></a>
    
    
    <a href="https://haruharuharukichi.github.io/so-thin/templates/pureslide/" class="link_next"></a>
    
    <p><nav class="grid navbar_wrapper global" id="globalNavi" role="navigation">
    <a class="flex navbar_brand" href="./index.html">
        <span class="navbar_logo" style="background-image: url(./lib/images/LOGO.png);">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="navbar_content" id="navbarToggler">
        <ul class="navbar_list font-sm">
            <li class="page_item"><a href="./index.html">home</a></li>
            <li class="page_item"><a href="./page.html">About</a></li>
            <li class="page_item"><a href="./page.html">works</a></li>
            <li class="page_item"><a href="./page.html">info</a></li>
            <li class="page_item"><a href="./post.html">blog</a></li>
            <li class="page_item"><a href="./page.html">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="container grid_wrapper">
    <main role="main" class="grid grid-main">
        <div class="grid_item ex-vrt ex-hrz">
            <img src="./lib/images/top_img.jpeg" class="grid_body img">
        </div>
        <div class="grid_item">
            <h1 class="flex grid_body title">HAKO<br>×<br>TATE</h1>
        </div>
        <div class="grid_item">
            <p class="flex grid_body text">DESIGN FOR WEB SITE</p>
        </div>
        <div class="grid_item">
            <a href="#" class="grid grid-1 grid_body text link">
                <h2 class="font-xs body_description">about</h2>
                <p>I am Pioneer.</p>
                <p>more</p>
            </a>
        </div>
        <div class="grid_item">
            <img src="./lib/images/about_img.jpg" class="grid_body img">
        </div>
        <div class="grid_item">
            <div class="grid grid-1 grid_body text dark">
                <h2 class="font-xs body_description">access</h2>
                <p>〒220-0012 神奈川県横浜市西区</p>
                <p>最寄駅から徒歩1分</p>
            </div>
        </div>
        <div class="grid_item">
            <div class="grid grid-1 grid_body text">
                <h2 class="font-xs body_description">business hours</h2>
                <p>10:00~11:00</p>
            </div>
        </div>
        <div class="grid_item">
            <div class="grid grid-1 grid_body text dark">
                <h2 class="font-xs body_description">holiday</h2>
                <p>毎週土・日曜日</p>
            </div>
        </div>
        <div class="grid_item">
            <a href="#" class="grid grid-1 grid_body text link">
                <h2 class="font-xs body_description">detail</h2>
                <p>ポップでロックなWEBデザイン</p>
                <p>more</p>
            </a>
        </div>
        <div class="grid_item ex-hrz">
                <h2 class="flex grid_body title">we want revolution</h2>
        </div>
        <div class="grid_item ex-hrz ex-vrt">
            <div class="grid grid-sub grid_body bgr" style="background-image: url(./lib/images/meet7.jpeg);">
                <div class="grid_item">
                    <h2 class="flex grid_body title">feature of us</h2>
                </div>
                <div class="grid_item">
                    <div class="grid grid-1 grid_body text">
                <h2 class="font-xs body_description">distance</h2>
                <p>あなたと親身に向き合います</p>
                    </div>
                </div>
                <div class="grid_item">
                    <div class="grid grid-1 grid_body text">
                <h2 class="font-xs body_description">service</h2>
                <p>喜びを作ることが仕事です</p>
                    </div>
                </div>
                <div class="grid_item">
                    <div class="grid grid-1 grid_body text">
                <h2 class="font-xs body_description">diligence</h2>
                <p>日々の努力を怠りません</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_item">
            <a href="#" class="grid grid-1 grid_body text link">
                <h2 class="font-xs body_description">price</h2>
                <p>良品質、良心単価。</p>
                <p>more</p>
            </a>
        </div>
        <div class="grid_item">
            <div class="grid grid-1 grid_body text">
                <h2 class="font-xs body_description">philosophy</h2>
                <p>ヒラメキがキラメキをつくる</p>
            </div>
        </div>
        <div class="grid_item">
            <a href="#" class="grid grid-1 grid_body text link">
                <img src="./lib/images/twitter.png" class="body_description img">
                <p>ツイッターアカウント</p>
                <p>more</p>
            </a>
        </div>
        <div class="grid_item">
            <a href="#" class="grid grid-1 grid_body text link">
                <img src="./lib/images/flogo.png" class="body_description img">
                <p>Facebookアカウント</p>
                <p>more</p>
            </a>
        </div>
        <div class="grid_item ex-hrz">
            <div class="grid grid_body post">
                <div class="grid grid-1 post_description">
                    <h2>news</h2>
                    <a href="#" class="post_link">view all</a>
                </div>
                <div class="grid post_content">
                    <a href="#" class="post_link">お知らせその１</a>
                    <a href="#" class="post_link">お知らせその２</a>
                    <a href="#" class="post_link">お知らせその３</a>
                </div>
            </div>
        </div>
    </main>
</div>
<aside role="complementary"></aside>
<footer role="contentinfo" class="inline-center">
    <p>© 2018~ </p>
</footer>
<script type='text/javascript' src='./lib/js/main.js'></script></p>

</body>

</html>