<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8n">
	<meta name="Description" CONTENT="ここにページのディスクリプション">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Haruki Kawashita">
	<!--Setting ogp-->
	<meta property="og:title" content="ここにタイトル" >
	<meta property="og:type" content="ここにタイプ" >
	<meta property="og:url" content="ここにページのURL" >
	<meta property="og:image" content="ここにサムネイル画像のURL" >
	<meta property="og:site_name" content="ここにサイト名" >
	<meta property="og:description" content="ここにページのディスクリプション" >
	<!--Facebook ogp-->
	<meta property="fb:app_id" content="App-ID（15文字の半角数字）" >
	<!--Twitter cards-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Twitterアカウント">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>HAKO TATE</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./lib/css/iota.css" />
	<link rel="stylesheet" href="./style.css" />
</head>
<body class="single">
	<nav class="grid navbar_wrapper global" id="globalNavi" role="navigation">
		<a class="flex navbar_brand" href="./index.html">
			<span class="navbar_logo" style="background-image: url(./lib/images/LOGO.png);">
			</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="navbar_content" id="navbarToggler">
			<ul class="navbar_list font-sm">
				<li class="page_item"><a href="./index.html">home</a></li>
				<li class="page_item"><a href="./page.html">About</a></li>
				<li class="page_item"><a href="./page.html">works</a></li>
				<li class="page_item"><a href="./page.html">info</a></li>
				<li class="page_item"><a href="./post.html">blog</a></li>
				<li class="page_item"><a href="./page.html">Contact</a></li>
			</ul>
		</div>
	</nav>
	<header role="banner" class="header_wrapper"></header>
	<div class="grid container grid_wrapper">
		<main role="main">
			<article>
				<div class="grid grid-main">
					<div class="grid_item ex-hrz ex-vrt">
						<div class="grid grid-1 grid_body title">
							<div id="breadcrumb" class="cf body_description"><div itemscope class="breadcrumb_item" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="breadcrumb_link" href="#" itemprop="url"><span itemprop="title">HOME</span></a></div><div itemscope class="breadcrumb_item" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="breadcrumb_link" href="#" itemprop="url"><span itemprop="title">Uncategorized</span></a></div></div>
							<h1 class="entry-title font-xl main_title">Hello world!</h1>
						</div>
					</div>
					<div class="grid_item">
						<div class="grid grid-1 grid_body text">
							<span class="body_description">author</span>
							<span class="vcard author">
								<span class="fn">
									admin
								</span>
							</span>
						</div>
					</div>
					<div class="grid_item">
						<div class="grid grid-1 grid_body text">
							<span class="body_description">publish</span>
							<span>
									<time class="date published" datetime="2012/10/2">2012/10/2</time>
							</span>
						</div>
					</div>
					<div class="grid_item">
						<div class="grid grid-1 grid_body text">
							<span class="body_description">update</span>
							<span>
									<time class="date updated" datetime="2018/12/15">2018/12/15</time>
							</span>
						</div>
					</div>
					<div class="grid_item">
						<a href="./index.html" class="grid grid-1 grid_body text link">
							<h2 class="font-xs body_description">link</h2>
							<p>HOME</p>
						</a>
					</div>
				</div>
				<img src="./lib/images/meet9.jpeg">
				<div class="entry-content">
					<h2>titleタイトル題名H2</h2>
					<p>あああ<br>アアア<br>aaa<br>AAA<br>111</p>
					<h3>titleタイトル題名H3</h3>
					<p>あああ<br>アアア<br>aaa<br>AAA<br>111</p>
					<h4>titleタイトル題名H4</h4>
					<p>あああ<br>アアア<br>aaa<br>AAA<br>111</p>
					<h5>titleタイトル題名H5</h5>
					<p>あああ<br>アアア<br>aaa<br>AAA<br>111</p>
					<h6>titleタイトル題名H6</h6>
					<p>あああ<br>アアア<br>aaa<br>AAA<br>111</p>
				</div>
			</article>
		</main>
		<aside role="complementary" class="sidebar_wrapper"></aside>
	</div>
	<footer role="contentinfo" class="inline-center">
		<p>© 2018~ haruki kawashita</p>
	</footer>
	<script type='text/javascript' src='./lib/js/main.js'></script>
</body>
</html>