{{ partial "header.html" . }}
<aside role="complementary" class="sidebar_wrapper">
    <ul>
        {{ range .Pages.Reverse }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
    </ul>
</aside>
<aside role="complementary" class="sidebar_wrapper">
    <div id="toc"></div>
</aside>
<main role="main">
    {{ .Content }}
    {{ range .Pages.Reverse }}
    <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
    {{ end }}
</main>
{{ partial "footer.html" . }}