<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8n">
	<meta name="Description" CONTENT="ここにページのディスクリプション">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Haruki Kawashita">
	<meta name="robots" content="noindex">
	<meta name="robots" content="nofollow">
	
	<meta property="og:title" content="ここにタイトル">
	<meta property="og:type" content="ここにタイプ">
	<meta property="og:url" content="ここにページのURL">
	<meta property="og:image" content="ここにサムネイル画像のURL">
	<meta property="og:site_name" content="ここにサイト名">
	<meta property="og:description" content="ここにページのディスクリプション">
	
	<meta property="fb:app_id" content="App-ID（15文字の半角数字）">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Twitterアカウント">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>TITLE</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	
	<script type="text/javascript" src="https://haruharuharukichi.github.io/so-thin/js/prettify.js"></script>
	<link href="https://haruharuharukichi.github.io/so-thin/css/prettify.css" type="text/css" rel="stylesheet">

	
	<link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/css/iota.css" />

	<link rel="stylesheet" href="https://haruharuharukichi.github.io/so-thin/style.css">
</head>

<body onload="prettyPrint()">
	<nav role="navigation" id="globalNavi" class="grid inline-center navbar_wrapper sticky">
		<a href="https://haruharuharukichi.github.io/so-thin/" rel="home" class="flex navbar_brand">
			<span class="navbar_logo">
				LO<br>GO
			</span>
		</a>
		<button type="button" id="navbarToggler" class="navbar_toggler">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="navbar_list font-sm">
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/">home</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/naming">命名規則</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/flow">全体の流れ</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/function">function</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/plugin">plugin</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/material">素材</a></li>
			<li><a class="navbar_link" href="https://haruharuharukichi.github.io/so-thin/components/">コンポーネント</a></li>
		</ul>
	</nav>
	<div class="grid body_wrapper">
<aside role="complementary" class="sidebar_wrapper">
    <ul>
        
        <li>
            <a href="/so-thin/components/">
                COMPONENTS TOP
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/grid/">
                Grid
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/header/">
                Header
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/navigation/">
                Navigation
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/card/">
                Card
            </a>
        </li>
        
        <li>
            <a href="/so-thin/components/button/">
                Button
            </a>
        </li>
        
    </ul>
</aside>
<aside role="complementary" class="sidebar_wrapper">
    <div id="toc"></div>
</aside>
<main role="main">
    <p><h1>Navigation</h1>
<div class="main_code">
    <h2>PHPベーシックコード</h2>
    <div class="grid code_content">
        <input type="radio" name="accordion" id="navPhp">
        <label for="navPhp">+</label>
        <div class="code_item">
            <p>header.php</p></p>

<pre><code class="language-php">&lt;nav role=&quot;navigation&quot; id=&quot;navbar&quot; class=&quot;grid container navbar_wrapper&quot;&gt;
	&lt;?php 
		if ( function_exists( 'the_custom_logo' ) ) {
		$custom_logo_id = get_theme_mod( 'custom_logo' );
		$custom_logo_url = wp_get_attachment_image_url( $custom_logo_id , 'full' );

		echo '&lt;a class=&quot;flex navbar_brand&quot; href=&quot;' . esc_url( home_url() ) . '&quot; rel=&quot;home&quot;&gt;&lt;span class=&quot;navbar_logo&quot; style=&quot;background-image:url(' . esc_url( $custom_logo_url ) . ');&quot;&gt;&lt;/span&gt;&lt;/a&gt;';
	}
	?&gt;
	&lt;button class=&quot;navbar_toggler&quot; id=&quot;navbarToggler&quot; type=&quot;button&quot;&gt;
		&lt;span&gt;&lt;/span&gt;
		&lt;span&gt;&lt;/span&gt;
		&lt;span&gt;&lt;/span&gt;
	&lt;/button&gt;
	&lt;?php 
	wp_nav_menu( array(
	'theme_location'=&gt;'Navigation', 
	'menu_class'    =&gt;'navbar_list',
	'container'     =&gt;false, 
	'items_wrap'    =&gt;'&lt;ul class=&quot;%2$s&quot;&gt;%3$s&lt;/ul&gt;'));
	?&gt;
&lt;/nav&gt;
</code></pre>

<p></div>
<input type="radio" name="accordion" id="funcPhp">
<label for="funcPhp">+</label>
<div class="code_item">
<p>function.php</p></p>

<pre><code class="language-php">//navigationの登録
register_nav_menu( 'Navigation', 'ナビゲーション' );


//カスタムロゴ追加
add_theme_support( 'custom-logo', array( 'size' =&gt; 'raindrops-logo' ) );


//ナビゲーションのアンカータグにクラスを追加
function add_menuclass($ulclass) {
	return preg_replace('/&lt;a /', '&lt;a class=&quot;navbar_link&quot;', $ulclass);
}
add_filter('wp_nav_menu','add_menuclass');


// 【必要に応じて】クラスを編集して、ナビゲーションの表示中メニューに 'current' クラスを付与する
add_filter( 'nav_menu_css_class', 'remove_to_currentClass', 10, 2 );
function remove_to_currentClass( $classes, $item ) {
	$classes = array();
	if( $item -&gt; current == true ) {
		$classes[] = 'current';
	}
	return $classes;
}
</code></pre>

<p></div>
</div>
</div></p>

<p><h2 class="main_title">オーソドックスタイプ</h2>
<div class="main_code">
    <h3 class="main_title">ノーマル</h3>
    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="js,result" data-user="haruharuharukichi" data-slug-hash="XOMjEx" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="XOMjEx">
        <span>See the Pen <a href="https://codepen.io/haruharuharukichi/pen/XOMjEx/">
        XOMjEx</a> by haruharuharukichi (<a href="https://codepen.io/haruharuharukichi">@haruharuharukichi</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
<div class="main_code">
    <h3 class="main_title">sticky</h3>
    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="css,result" data-user="haruharuharukichi" data-slug-hash="davOEz" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="davOEz">
        <span>See the Pen <a href="https://codepen.io/haruharuharukichi/pen/davOEz/">
        davOEz</a> by haruharuharukichi (<a href="https://codepen.io/haruharuharukichi">@haruharuharukichi</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
<div class="main_code">
    <h3 class="main_title">fixed</h3>
    <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="css,result" data-user="haruharuharukichi" data-slug-hash="yZMVGm" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="yZMVGm">
        <span>See the Pen <a href="https://codepen.io/haruharuharukichi/pen/yZMVGm/">
        yZMVGm</a> by haruharuharukichi (<a href="https://codepen.io/haruharuharukichi">@haruharuharukichi</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
<h2 class="main_title">フルスクリーンタイプ</h2>
<div class="main_code">
    <p class="codepen" data-height="500" data-theme-id="0" data-default-tab="css,result" data-user="haruharuharukichi" data-slug-hash="JxNRym" style="height: 500px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="navbarFull">
        <span>See the Pen <a href="https://codepen.io/haruharuharukichi/pen/JxNRym/">
        navbarFull</a> by haruharuharukichi (<a href="https://codepen.io/haruharuharukichi">@haruharuharukichi</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div></p>

</main>
<footer role="contentinfo" class="inline-center footer_wrapper">@2019~ haruki kawashita</footer>
</div>
<script type='text/javascript' src='https://haruharuharukichi.github.io/so-thin/js/toc.min.js'></script>
<script type='text/javascript' src='https://haruharuharukichi.github.io/so-thin/js/main.js'></script>