{{ partial "header.html" . }}
<aside role="complementary" class="sidebar_wrapper">
</aside>
<aside role="complementary" class="sidebar_wrapper">
    <div id="toc"></div>
</aside>
<main role="main">
    <h1>So Thinサイト作成サービス詳細</h1>
    <p>
        ※チャットワークの返事は原則1営業日以内に行いましょう（月曜日に連絡が来たら火曜日の18時までには返信する）。<br>
        回答に時間を要する場合は、時間を要する旨と回答日の目安を伝えましょう。
    </p>
    <h2>社訓</h2>
    <ul>
        <li>今の一歩先を目指せ</li>
        <li>ルーツを探れ</li>
        <li>主体的であれ</li>
    </ul>
    <h2>新着記事</h2>
    <ul>
        {{ range first 5 .Pages.ByLastmod.Reverse }}
        <li>
            <a href="{{.RelPermalink}}" class="main_link">{{.Title}}</a>
            <time>{{.Date.Format "2006-01-02"}}</time>
        </li>
        {{ end }}
    </ul>
</main>
{{ partial "footer.html" . }}