{{ partial "header.html" . }}
<aside role="complementary" class="sidebar_wrapper">
</aside>
<aside role="complementary" class="sidebar_wrapper">
    <div id="toc"></div>
</aside>
<main role="main">
    <h1>So Thinサイト作成サービス詳細</h1>
    <p>
        ※チャットワークの返事は原則1営業日以内に行いましょう（金曜日に連絡が来たら月曜日、月曜日に来たら火曜日の18時までには返信する）。<br>
        回答に時間を要する場合は、時間を要する旨と回答日の目安を伝えましょう。
    </p>
    <h2>ロードマップ</h2>
    <ul>
        <li>原点：学生主体のしがないWeb制作業者</li>
        <li>←イマココ</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li>到達点：クリエイティブの神。社会人の前段階である学生と云う原点にして、生産性と創造性を極めた存在と云う頂点</li>
    </ul>
    <h2>提供する価値（軸）</h2>
    <p>今の、少しだけ先へ</p>
    <h2>社訓</h2>
    <ul>
        <li>価値を創れ。価値とは、ギャップ（+α）である。</li>
        <li>ルーツを探れ。本質なきサービスに意味はない。</li>
        <li>主体的であれ。人生の主導権は自分のものである。</li>
    </ul>
    <h2>新着記事</h2>
    <ul>
        {{ range first 5 .Pages.ByLastmod.Reverse }}
        <li>
            <a href="{{.RelPermalink}}" class="main_link">{{.Title}}</a>
            <time>{{.Date.Format "2006-01-02"}}</time>
        </li>
        {{ end }}
    </ul>
</main>
{{ partial "footer.html" . }}